body{background-color: #EEF8F7;
  font-family: 'Comfortaa', cursive;
  font-family: 'Fuzzy Bubbles', cursive;}
header{background-color: #6CB8E7;
padding:10px;
width:100%;
  height:15%;
  background-image:url(https://www.casafeliz.nl/uploads/2/4/9/8/24989269/6444358_orig.jpg);
  background-size: 30% 100%;
  background-repeat:no-repeat;
  background-position: 450px 0px;
}

li{
  height: 10px;
  width:100%;
  padding: 12px;
  text-align: center;
  color: black;
  border-color: black;
  border: solid;
  border-width: thin;
  background-color: #F8FFAC;
}
#deel1{
  min-height: 900px;
  background-color:  #e6f5ff;
}
#deel2{
  min-height: 900px;
  background-color: #F8F9F9;
}
#deel3{
  min-height: 900px;
  background-color:  #e6f5ff;
}
#sectie1{
padding: 15px;
}
#sectie2{
padding: 15px;
}
#sectie3{
padding: 15px;
}
#sectie4{
padding: 15px;
}
#overcovid{
padding: 15px;}

#fotomalaga{
filter: saturate(50%);
   height:200px;
  width: 325px;
}

footer{
  width:100%;
  height:20%;
  background-color:#6CB8E7;
clear:both;
}



@media only screen and (min-width:768px){
li{
display:inline-block;
height: 10px;
width:200px;
}
ul{
  float: none;
  margin-left: 900px;
  margin-top: 10px;
}
  #deel1{
    width:25%;
  float:left;
 }
  #deel2{
    width:50%;
    float:left;}
  #deel3{
    width:25%;
  float:left;
  }
  #fotomalaga{
    height:400px;
    width:650px;
  }
